.color {
  color: blue;
  background-color: #00ff00;
}

.background {
  background-image: url(img/background-pic.jpg);
  color: white;
  background-position: center;
  background-repeat: repeat;
}

/*El cuarto valor de rgba corresponde a opacidad*/
.opacity {
  background-color: rgba(255, 0, 0, 0.5);
}

.image1 {
  display: grid;
  place-content: left;
  margin: 1 auto;
  width: 300px;
  height: 300px;
}
